
.zdog-canvas{
    background: #f5b371;

    
}

.draggable {
    position: absolute;
    text-align: center;
}





/* KIKI'S ATTEMPT TO STYLE BETTER */

/* Setting the spacing/centering of layers */
html,
body,
.layer { 
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url(assets/images/back3.jpg);
    background-attachment: fixed;
    background-position: center;
}

/*MADE THE BODY INTO 2 BOXES.
ONE INPUT THE FLOOR PLAN SIZE AND
THE OTHER WILL HOLD ALL THE OTHER
OPTIONS IN A ROW FORMAT */
body {

    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-direction: column;

     
    color: rgb(255, 255, 255);
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0);
    

    /* min-width: 50px; */
    min-height: 100px;
    text-align: center;

    margin: 3%;
    

    /* font-weight: bold; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;

  
}
/*OPTIONS TO SIZE FLOORPLAN COMES FIRST*/
#room-size {
    order: 2;
    flex: 1;
    text-align: left;
    margin-left: 20%;
    margin-right:20%;
    
}

/*GOING TO PUT SHAPE OPTIONS ON LEFT
AND FLOORPLAN ON RIGHT. DRAGGABLE
SHAPE WILL APPEAR BELOW SHAPE OPTIONS.*/
#responsive-box {
    order: 3;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* margin: 0px; */
    padding: 0px;
    
}
/*ITEM LIST WILL GO RIGHT BELOW THE FLOORPLAN BOX*/
/* #item-list{
   order: 3;
   flex: 1;
} */
/*JK, THE ITEM LIST GOT MOVED TO THE RIGHT OF THE FLORRPLAN BOX */


/*----------NOW INSIDE THE RESPONSIVE BOX!!!!!!!!!!!!*/
/*LETS DO LEFT-BOX FIRST*/
#left-box {
    order: 1;
    flex: 1;
    margin-right: 3px;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 150px;
    
}

#shape-options {
    order: 1;
    flex: 1;
}
#dimension-input {
    order: 2;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#shape-list {
   order: 3;
   flex: 1;         /*somethings wrong here...*/
}

/*THIS CANVAS IS THE AREA OF THE FLOORPLAN SIZE*/
/*THIS IS TECHNICALLY THE FLOORMAP-BOX, BUT NO NEED FOR AN EXTRA DIV*/
#user-canvas {
order: 2;
flex: 2;
margin-left: 3px;
margin-right: 3px;
max-width: 500px;
max-height: 500px;
/* overflow: scroll; */
border: 1px rgb(0, 0, 0) dotted;
}
#item-list {
    text-align: left;
    order: 3;
    flex: 1;
    margin-left: 3px;
    /* border: 1px dotted rgb(0, 0, 0); */
    max-width: 150px;
    /* overflow: scroll; */
}
/*USE BORDER TO KNOW WHERE THE DIV ENDS AND BEGINS*/

/* Modal Styling */
.modal-content {
    background-color: rgb(99, 99, 99);
    
}
/*SOME OLD STUFF WAS DOIN-----*/

a,
a:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:hover {
  color: rgb(99, 99, 99);
  text-decoration: none;
}
.navbox {
  text-decoration: none;
  padding: .25rem 0;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}
.currentPage {
  text-decoration: none;
  padding: .25rem 0;
  font-weight: 700;
  color: rgb(99, 99, 99);
  background-color: transparent;
  border-bottom: .25rem solid rgb(255, 255, 255);
}
.navlink:hover,
.navlink:focus,
.currentPage:hover,
.currentPage:focus {
  border-bottom-color: rgb(99, 99, 99);
}
.navbox .navlink + .navlink {
  margin-left: 1rem;
}
.navlink:active,
.currentPage:active,
a:active {
  color: rgb(255, 255, 255);
}
.btn-secondary {
  color: rgb(255, 255, 255);
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(99, 99, 99);
  align-content: center;
  padding: 1px;
  width: 200px;
}
.btn-secondary:hover {
  color: rgb(99, 99, 99);
  background-color: rgba(0, 0, 0, 0);
  text-shadow: none; /* Prevent inheritance from `body` */
  border: 1px solid rgb(255, 255, 255);
  align-content: center;
  padding: 1px;
  width: 200px;
}
.btn-secondary:active,
.btn-secondary:focus {
  color: rgb(255, 255, 255);      /*THIS PART IS SUPER FUCKED*/
  background-color: rgb(0, 0, 0);
  border-color: rgb(255, 255, 255);
  
  
  
}

/* Everything above has to do with links -----------------------------
--------- BELOW starts with body, followed by everything else ------------ */


.cover-container {
  max-width: 50em;
}
 /* ------------------- FOOTER -------------------------*/
footer {
    order: 4;
    flex: 1;
}
 /* ------------------- HEADER -------------------------*/

.masthead {
  order: 1;
  flex: 1;
  margin-bottom: 2rem;
  justify-content: left;
  
}
.masthead-brand {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  color: rgb(255, 255, 255);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  border: dotted 1px rgb(255, 255, 255);
  border-radius: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 5px;
}
#name {
  flex: 2;
  order: 1;
  font-weight: bolder;
}
#sub {
  flex: 1;
  order: 2;
  color: rgb(99, 99, 99);
  font-size: xx-small;
}

/* ------- Media Queries ----------*/

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .navbox {
    float: right;
  }
}
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/* ---------------------- FOOTER --------------------------------- */
.mastfoot {
    order: 4;
    /* flex: 1; */
    display: -ms-flexbox;
    display: flex;
    /* justify-content: center; */
}
.footerbox {
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-around; */
  
  padding: 0;
  border-top: solid 1.3px rgb(255, 255, 255);
  border-bottom: solid 1.3px rgb(255, 255, 255);
  text-align: center;
  font-size: xx-small;
}
#tag {
  text-align: left;
  flex: 4;
  order: 1;
  margin-top: 14px;
}

#githublink {
  flex: 1;
  order: 3;
  margin-top: 14px;
}

/* -------- end of footer --------------------------------*/

/* BODY CONTENT STUFF LIKE FONTS ---------------------------------------------- */

.mainbox {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  align-content: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}

/* CONTACT BOXES FOR CONTACT PAGE ----------------------------*/

.contactbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}
#subject {
  width: 300px;
  height: 300px;
}
.submit {
  text-decoration: none;
  text-shadow: none;
  padding: 10px 20px 11px !important;
  font-size: 21px !important;
  background-color: rgb(15, 197, 188);
  font-weight: bold;
  text-shadow: 1px 1px rgb(15, 197, 188);
  color: rgb(255, 255, 255);
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border: 1px solid rgb(15, 197, 188);
  box-shadow: 0 3px 0 rgb(255, 255, 255) inset;
  -moz-box-shadow: 0 3px 0 rgb(255, 255, 255) inset;
  -webkit-box-shadow: 0 3px 0 rgb(255, 255, 255) inset;
}

/* MAINBOX FOR PORTFOLIO HTML ----- USING BOOTSTRAP ROWS AND COLUMNS HERE ----- */


.des {
  margin-top: 5px;
}











